* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --red: #C51212;
  --blue: #0041C2;
  --green: #14B02D;
  --yellow: #ffc12b;
}

body, button, a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
} 
#background { 
  position: fixed; 
  inset: 0; 
  z-index: -1;
  width: 100%; 
  height: 100vh;
} 
#background video { 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
} 
#background::after { 
  content: ''; 
  width: inherit; 
  height: inherit; 
  position: fixed; 
  inset: 0; 
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
#app { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  height: 100vh;
} 
header { 
  display: flex; 
  align-items: center; 
  column-gap: 64px; 
  width: 90%;
  padding-top: 24px; 
}
header img { 
  width: 70px;
  height: auto;
} 
.navigation { 
  display: flex; 
  align-items: center; 
  column-gap: 48px; 
  list-style: none; 
} 
.navigation_link { 
  font-size: 14px; 
  font-weight: 300; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  position: relative;
}  
.navigation_link:hover { 
  color: var(--red);
}
.navigation_link::after { 
  content: ''; 
  position: absolute; 
  left: 0; 
  bottom: -2px; 
  width: 60%; 
  height: 1px; 
  background: var(--red); 
  transform: scaleX(0); 
  transform-origin: right; 
  transition: transform 0.4s;
} 
.navigation_link:hover::after { 
  transform: scaleX(1); 
  transform-origin: left;
}

.navigation_social { 
  margin-left: auto;
  display: flex;
  align-items: center; 
  column-gap: 24px;
} 
.navigation_social svg { 
  width: 20px; 
  height: 20px; 
  opacity: 0.6; 
  transition: all 0.4s;
} 
.navigation_social svg:hover { 
  opacity: 1; 
  transform: translateY(-5px); 
  cursor: pointer;
} 
main {  
  flex: 1;
  display: flex; 
  align-items: center;
  width: 90%;  
  justify-content: space-between;
} 
.main_info { 
  width: 90%; 
  max-width: 570px;
} 
.main_info p { 
  font-size: 17px; 
  margin: 19px 0 24px;
} 
.main_info div { 
  display: flex; 
  column-gap: 22px;
} 
.main_info div a { 
  width: 50%; 
  padding: 10px 0;
  border-radius: 3px; 
  font-size: 16px; 
  font-weight: 300; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 0.3px; 
  transform: skew(-10deg); /* Deixa o botão meio torto*/ 
} 
.main_info div a { 
  background: transparent;
  border: 1px solid var(--green);
} 
.main_info div a:hover { 
  border-color: var(--red); 
  color: var(--yellow);
  transition: all 0.5s;
} 
/* ==Responsividade para celulares */
@media only screen and (max-width: 600px) {
  /* Estilos para telas menores que 600px */
  #app {
    padding: 24px; 
  }

  header {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    margin-top: 10px;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
  }

  .navigation_link,
  .navigation_social {
    margin-bottom: 15px;
    text-align: center;
  }

  .navigation_social {
    margin-right: auto; 
    margin-top: 10px;
  }

  main {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }

  .main_info {
    width: 100%;
    max-width: none;
    text-align: center;
    margin-top: 20px; 
  }

  .main_info p {
    margin: 10px 0; 
  }

  .main_info div {
    flex-direction: column;
    column-gap: 20px; 
  }

  .main_info div a {
    width: 100%;
  }
  #background {
    height: 100%; /* Altera a altura para ocupar toda a tela */
  }

  #background::after {
    /* Ajusta a altura do gradiente linear para cobrir toda a tela */
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  }
}

